
html{
	background-image: url("../images/cream_pixels.png");
}

.hide{
	background: red;
}

.wrapper-outer{
	padding-top: 50px;
	width: 100%;
	background: white;
	 z-index: 2;
    position: relative;
}

.wrapper{
    max-width:580px;
    padding:0 24px;
    margin:0 auto;
  /*  z-index: 2;
    position: relative;*/
    /*background-image: url("../images/cream_pixels.png");*/
    background: white;
}

.lead-img{
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 1;
	width: 100%;
}

.article-selector{
	/*background: grey;*/
	padding-top: 100px;
	margin:0 auto;
	max-width: 400px;
	}


.caption{
	height: 30px;
	/*background: red;*/
	text-align: center;
	padding-right: 55px;

	font-size: 27px;
	letter-spacing: 0px;
	font-family: 'Futura T W01 Demi';
}