footer { height: 47px; width: 100%; background-color: black; color: white; line-height: 30px; }
.browse-previous,
.browse-next {
    padding: 10px 30px; width: 50%; float: left; text-decoration: none; color: white; font-family: "Futura T W01 Demi"; font-size: 20px;
    &:hover { background-color: #009def; color: black; }
    i { font-size: 16px; }
}
.browse-previous i { margin-right: 15px; }
.browse-next {
    text-align: right;
    i { margin-left: 15px; }
}
