.icon-sidebar-up { 
    background-image: url(../img/icon/sidebar-up.png);
    width: 10px;
    height: 8px;
    background-size: 10px 8px;
 }

.icon-sidebar-plus-white { 
    background-image: url(../img/icon/sidebar-plus-white.png);
    width: 18px;
    height: 18px;
    background-size: 18px 18px;
 }

.icon-sidebar-plus-white-glow { 
    background-image: url(../img/icon/sidebar-plus-white-glow.png);
    width: 41px;
    height: 41px;
    background-size: 41px 41px;
 }

.icon-sidebar-plus-green { 
    background-image: url(../img/icon/sidebar-plus-green.png);
    width: 18px;
    height: 18px;
    background-size: 18px 18px;
 }

.icon-sidebar-plus-green-glow { 
    background-image: url(../img/icon/sidebar-plus-green-glow.png);
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
 }

.icon-sidebar-edit-green { 
    background-image: url(../img/icon/sidebar-edit-green.png);
    width: 21px;
    height: 21px;
    background-size: 21px 21px;
 }

.icon-sidebar-down { 
    background-image: url(../img/icon/sidebar-down.png);
    width: 10px;
    height: 8px;
    background-size: 10px 8px;
 }

.icon-sidebar-check-white-glow { 
    background-image: url(../img/icon/sidebar-check-white-glow.png);
    width: 43px;
    height: 37px;
    background-size: 43px 37px;
 }

.icon-sidebar-check-green { 
    background-image: url(../img/icon/sidebar-check-green.png);
    width: 23px;
    height: 17px;
    background-size: 23px 17px;
 }

.icon-round-x-red { 
    background-image: url(../img/icon/round-x-red.png);
    width: 33px;
    height: 33px;
    background-size: 33px 33px;
 }

.icon-round-upright-green { 
    background-image: url(../img/icon/round-upright-green.png);
    width: 25px;
    height: 25px;
    background-size: 25px 25px;
 }

.icon-round-upright-gray { 
    background-image: url(../img/icon/round-upright-gray.png);
    width: 25px;
    height: 25px;
    background-size: 25px 25px;
 }

.icon-round-right-gray { 
    background-image: url(../img/icon/round-right-gray.png);
    width: 25px;
    height: 25px;
    background-size: 25px 25px;
 }

.icon-right-white { 
    background-image: url(../img/icon/right-white.png);
    width: 9px;
    height: 13px;
    background-size: 9px 13px;
 }

.icon-right-plus-green { 
    background-image: url(../img/icon/right-plus-green.png);
    width: 52px;
    height: 45px;
    background-size: 52px 45px;
 }

.icon-right-i { 
    background-image: url(../img/icon/right-i.png);
    width: 39px;
    height: 31px;
    background-size: 39px 31px;
 }

.icon-logo-trumf { 
    background-image: url(../img/icon/logo-trumf.png);
    width: 116px;
    height: 73px;
    background-size: 116px 73px;
 }

.icon-logo-sunnhet { 
    background-image: url(../img/icon/logo-sunnhet.png);
    width: 260px;
    height: 35px;
    background-size: 260px 35px;
 }

.icon-logo-kiwi { 
    background-image: url(../img/icon/logo-kiwi.png);
    width: 210px;
    height: 93px;
    background-size: 210px 93px;
 }

.icon-logo-fp { 
    background-image: url(../img/icon/logo-fp.png);
    width: 223px;
    height: 72px;
    background-size: 223px 72px;
 }

.icon-logo-eikroneher { 
    background-image: url(../img/icon/logo-eikroneher.png);
    width: 270px;
    height: 33px;
    background-size: 270px 33px;
 }

.icon-logo-4bleiepakke { 
    background-image: url(../img/icon/logo-4bleiepakke.png);
    width: 136px;
    height: 136px;
    background-size: 136px 136px;
 }

.icon-list-x-white { 
    background-image: url(../img/icon/list-x-white.png);
    width: 15px;
    height: 15px;
    background-size: 15px 15px;
 }

.icon-list-key-product { 
    background-image: url(../img/icon/list-key-product.png);
    width: 25px;
    height: 25px;
    background-size: 25px 25px;
 }

.icon-list-key-delete { 
    background-image: url(../img/icon/list-key-delete.png);
    width: 25px;
    height: 25px;
    background-size: 25px 25px;
 }

.icon-list-key-category { 
    background-image: url(../img/icon/list-key-category.png);
    width: 25px;
    height: 25px;
    background-size: 25px 25px;
 }

.icon-list-fp { 
    background-image: url(../img/icon/list-fp.png);
    width: 31px;
    height: 27px;
    background-size: 31px 27px;
 }

.icon-list-details { 
    background-image: url(../img/icon/list-details.png);
    width: 14px;
    height: 16px;
    background-size: 14px 16px;
 }

.icon-list-checked { 
    background-image: url(../img/icon/list-checked.png);
    width: 29px;
    height: 29px;
    background-size: 29px 29px;
 }

.icon-list-check { 
    background-image: url(../img/icon/list-check.png);
    width: 29px;
    height: 29px;
    background-size: 29px 29px;
 }

.icon-list-check-white { 
    background-image: url(../img/icon/list-check-white.png);
    width: 21px;
    height: 19px;
    background-size: 21px 19px;
 }

.icon-list-arrow-right-green { 
    background-image: url(../img/icon/list-arrow-right-green.png);
    width: 13px;
    height: 19px;
    background-size: 13px 19px;
 }

.icon-icon-top-lightbulb { 
    background-image: url(../img/icon/icon-top-lightbulb.png);
    width: 50px;
    height: 54px;
    background-size: 50px 54px;
 }

.icon-header-x-white { 
    background-image: url(../img/icon/header-x-white.png);
    width: 31px;
    height: 31px;
    background-size: 31px 31px;
 }

.icon-header-x-green { 
    background-image: url(../img/icon/header-x-green.png);
    width: 31px;
    height: 31px;
    background-size: 31px 31px;
 }

.icon-header-x-gray { 
    background-image: url(../img/icon/header-x-gray.png);
    width: 31px;
    height: 31px;
    background-size: 31px 31px;
 }

.icon-header-leaf { 
    background-image: url(../img/icon/header-leaf.png);
    width: 122px;
    height: 55px;
    background-size: 122px 55px;
 }

.icon-header-back-white { 
    background-image: url(../img/icon/header-back-white.png);
    width: 37px;
    height: 31px;
    background-size: 37px 31px;
 }

.icon-header-back-green { 
    background-image: url(../img/icon/header-back-green.png);
    width: 37px;
    height: 31px;
    background-size: 37px 31px;
 }

.icon-header-back-food { 
    background-image: url(../img/icon/header-back-food.png);
    width: 54px;
    height: 30px;
    background-size: 54px 30px;
 }

.icon-header-arrow { 
    background-image: url(../img/icon/header-arrow.png);
    width: 320px;
    height: 30px;
    background-size: 320px 30px;
 }

.icon-global-user { 
    background-image: url(../img/icon/global-user.png);
    width: 29px;
    height: 27px;
    background-size: 29px 27px;
 }

.icon-global-user-active { 
    background-image: url(../img/icon/global-user-active.png);
    width: 29px;
    height: 27px;
    background-size: 29px 27px;
 }

.icon-global-microphone { 
    background-image: url(../img/icon/global-microphone.png);
    width: 35px;
    height: 35px;
    background-size: 35px 35px;
 }

.icon-global-globe { 
    background-image: url(../img/icon/global-globe.png);
    width: 29px;
    height: 27px;
    background-size: 29px 27px;
 }

.icon-global-globe-active { 
    background-image: url(../img/icon/global-globe-active.png);
    width: 29px;
    height: 27px;
    background-size: 29px 27px;
 }

.icon-global-cart { 
    background-image: url(../img/icon/global-cart.png);
    width: 29px;
    height: 27px;
    background-size: 29px 27px;
 }

.icon-global-cart-active { 
    background-image: url(../img/icon/global-cart-active.png);
    width: 29px;
    height: 27px;
    background-size: 29px 27px;
 }

.icon-global-arrow-up { 
    background-image: url(../img/icon/global-arrow-up.png);
    width: 35px;
    height: 35px;
    background-size: 35px 35px;
 }

.icon-global-arrow-down { 
    background-image: url(../img/icon/global-arrow-down.png);
    width: 35px;
    height: 35px;
    background-size: 35px 35px;
 }

.icon-footer-key { 
    background-image: url(../img/icon/footer-key.png);
    width: 53px;
    height: 54px;
    background-size: 53px 54px;
 }

.icon-footer-fruit { 
    background-image: url(../img/icon/footer-fruit.png);
    width: 62px;
    height: 54px;
    background-size: 62px 54px;
 }

.icon-footer-fp { 
    background-image: url(../img/icon/footer-fp.png);
    width: 80px;
    height: 54px;
    background-size: 80px 54px;
 }

.icon-footer-diaper { 
    background-image: url(../img/icon/footer-diaper.png);
    width: 62px;
    height: 54px;
    background-size: 62px 54px;
 }

.icon-footer-arrow-down { 
    background-image: url(../img/icon/footer-arrow-down.png);
    width: 16px;
    height: 8px;
    background-size: 16px 8px;
 }

.icon-eikroneher { 
    background-image: url(../img/icon/eikroneher.png);
    width: 270px;
    height: 33px;
    background-size: 270px 33px;
 }

.icon-edit-trash { 
    background-image: url(../img/icon/edit-trash.png);
    width: 18px;
    height: 23px;
    background-size: 18px 23px;
 }

.icon-edit-share { 
    background-image: url(../img/icon/edit-share.png);
    width: 26px;
    height: 23px;
    background-size: 26px 23px;
 }

.icon-edit-edit { 
    background-image: url(../img/icon/edit-edit.png);
    width: 21px;
    height: 23px;
    background-size: 21px 23px;
 }

.icon-details-green { 
    background-image: url(../img/icon/details-green.png);
    width: 16px;
    height: 11px;
    background-size: 16px 11px;
 }

.icon-details-blue { 
    background-image: url(../img/icon/details-blue.png);
    width: 16px;
    height: 11px;
    background-size: 16px 11px;
 }

.icon-barcode-white { 
    background-image: url(../img/icon/barcode-white.png);
    width: 27px;
    height: 19px;
    background-size: 27px 19px;
 }

.icon-top-right { 
    background-image: url(../img/icon/top-right.png);
    width: 18px;
    height: 55px;
    background-size: 18px 55px;
 }

.icon-logo-dobbelt-tilbake { 
    background-image: url(../img/icon/logo-dobbelt-tilbake.png);
    width: 276px;
    height: 138px;
    background-size: 276px 138px;
 }

.icon-top-heart { 
    background-image: url(../img/icon/top-heart.png);
    width: 70px;
    height: 45px;
    background-size: 70px 45px;
 }

.icon-top-left { 
    background-image: url(../img/icon/top-left.png);
    width: 18px;
    height: 55px;
    background-size: 18px 55px;
 }

.icon-top-plus { 
    background-image: url(../img/icon/top-plus.png);
    width: 74px;
    height: 45px;
    background-size: 74px 45px;
 }

.icon-top-lightbulb { 
    background-image: url(../img/icon/top-lightbulb.png);
    width: 74px;
    height: 45px;
    background-size: 74px 45px;
 }

.icon-logo-neitilnokkelhullmoms { 
    background-image: url(../img/icon/logo-neitilnokkelhullmoms.png);
    width: 267px;
    height: 122px;
    background-size: 267px 122px;
 }

