@charset "utf-8";
/* then for WOFF-capable browsers */
@font-face {
  font-family: Duper;
  src: url("../fonts/DuperWebPro.woff") format("woff");
  font-style: normal; }

@font-face {
  font-family: Duper;
  src: url("../fonts/DuperWebPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: Duper;
  src: url("../fonts/DuperWebPro-Italic.woff") format("woff");
  font-style: italic; }

@font-face {
  font-family: Duper;
  src: url("../fonts/DuperWebPro-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: Antenna;
  src: local("☺"), url("../fonts/Antenna-Regular.ttf") format("truetype"), url("../fonts/Antenna-Regular.svg") format("svg");
  font-style: normal; }

@font-face {
  font-family: Antenna;
  src: local("☺"), url("../fonts/Antenna-RegularItalic.ttf") format("truetype"), url("../fonts/Antenna-RegularItalic.svg") format("svg");
  font-style: italic; }

@font-face {
  font-family: Antenna;
  src: local("☺"), url("../fonts/Antenna-Medium.ttf") format("truetype"), url("../fonts/Antenna-Medium.svg") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: Antenna;
  src: local("☺"), url("../fonts/Antenna-MediumItalic.ttf") format("truetype"), url("../fonts/Antenna-MediumItalic.svg") format("svg");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: Antenna;
  src: local("☺"), url("../fonts/Antenna-Black.ttf") format("truetype"), url("../fonts/Antenna-Black.svg") format("svg");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: AntennaCond;
  src: local("☺"), url("../fonts/AntennaCond-Regular.ttf") format("truetype"), url("../fonts/AntennaCond-Regular.svg") format("svg");
  font-style: normal; }

@font-face {
  font-family: AntennaCond;
  src: local("☺"), url("../fonts/AntennaCond-Medium.ttf") format("truetype"), url("../fonts/AntennaCond-Medium.svg") format("svg");
  font-weight: bold;
  font-style: normal; }

/* line 1, ../sass/_icons.scss */
.icon-sidebar-up {
  background-image: url(../img/icon/sidebar-up.png);
  width: 10px;
  height: 8px;
  background-size: 10px 8px; }

/* line 8, ../sass/_icons.scss */
.icon-sidebar-plus-white {
  background-image: url(../img/icon/sidebar-plus-white.png);
  width: 18px;
  height: 18px;
  background-size: 18px 18px; }

/* line 15, ../sass/_icons.scss */
.icon-sidebar-plus-white-glow {
  background-image: url(../img/icon/sidebar-plus-white-glow.png);
  width: 41px;
  height: 41px;
  background-size: 41px 41px; }

/* line 22, ../sass/_icons.scss */
.icon-sidebar-plus-green {
  background-image: url(../img/icon/sidebar-plus-green.png);
  width: 18px;
  height: 18px;
  background-size: 18px 18px; }

/* line 29, ../sass/_icons.scss */
.icon-sidebar-plus-green-glow {
  background-image: url(../img/icon/sidebar-plus-green-glow.png);
  width: 40px;
  height: 40px;
  background-size: 40px 40px; }

/* line 36, ../sass/_icons.scss */
.icon-sidebar-edit-green {
  background-image: url(../img/icon/sidebar-edit-green.png);
  width: 21px;
  height: 21px;
  background-size: 21px 21px; }

/* line 43, ../sass/_icons.scss */
.icon-sidebar-down {
  background-image: url(../img/icon/sidebar-down.png);
  width: 10px;
  height: 8px;
  background-size: 10px 8px; }

/* line 50, ../sass/_icons.scss */
.icon-sidebar-check-white-glow {
  background-image: url(../img/icon/sidebar-check-white-glow.png);
  width: 43px;
  height: 37px;
  background-size: 43px 37px; }

/* line 57, ../sass/_icons.scss */
.icon-sidebar-check-green {
  background-image: url(../img/icon/sidebar-check-green.png);
  width: 23px;
  height: 17px;
  background-size: 23px 17px; }

/* line 64, ../sass/_icons.scss */
.icon-round-x-red {
  background-image: url(../img/icon/round-x-red.png);
  width: 33px;
  height: 33px;
  background-size: 33px 33px; }

/* line 71, ../sass/_icons.scss */
.icon-round-upright-green {
  background-image: url(../img/icon/round-upright-green.png);
  width: 25px;
  height: 25px;
  background-size: 25px 25px; }

/* line 78, ../sass/_icons.scss */
.icon-round-upright-gray {
  background-image: url(../img/icon/round-upright-gray.png);
  width: 25px;
  height: 25px;
  background-size: 25px 25px; }

/* line 85, ../sass/_icons.scss */
.icon-round-right-gray {
  background-image: url(../img/icon/round-right-gray.png);
  width: 25px;
  height: 25px;
  background-size: 25px 25px; }

/* line 92, ../sass/_icons.scss */
.icon-right-white {
  background-image: url(../img/icon/right-white.png);
  width: 9px;
  height: 13px;
  background-size: 9px 13px; }

/* line 99, ../sass/_icons.scss */
.icon-right-plus-green {
  background-image: url(../img/icon/right-plus-green.png);
  width: 52px;
  height: 45px;
  background-size: 52px 45px; }

/* line 106, ../sass/_icons.scss */
.icon-right-i {
  background-image: url(../img/icon/right-i.png);
  width: 39px;
  height: 31px;
  background-size: 39px 31px; }

/* line 113, ../sass/_icons.scss */
.icon-logo-trumf {
  background-image: url(../img/icon/logo-trumf.png);
  width: 116px;
  height: 73px;
  background-size: 116px 73px; }

/* line 120, ../sass/_icons.scss */
.icon-logo-sunnhet {
  background-image: url(../img/icon/logo-sunnhet.png);
  width: 260px;
  height: 35px;
  background-size: 260px 35px; }

/* line 127, ../sass/_icons.scss */
.icon-logo-kiwi {
  background-image: url(../img/icon/logo-kiwi.png);
  width: 210px;
  height: 93px;
  background-size: 210px 93px; }

/* line 134, ../sass/_icons.scss */
.icon-logo-fp, .module-fp .logo, .module-fp .logo .logo-text, .module-fp .logo .logo-bg {
  background-image: url(../img/icon/logo-fp.png);
  width: 223px;
  height: 72px;
  background-size: 223px 72px; }

/* line 141, ../sass/_icons.scss */
.icon-logo-eikroneher {
  background-image: url(../img/icon/logo-eikroneher.png);
  width: 270px;
  height: 33px;
  background-size: 270px 33px; }

/* line 148, ../sass/_icons.scss */
.icon-logo-4bleiepakke {
  background-image: url(../img/icon/logo-4bleiepakke.png);
  width: 136px;
  height: 136px;
  background-size: 136px 136px; }

/* line 155, ../sass/_icons.scss */
.icon-list-x-white {
  background-image: url(../img/icon/list-x-white.png);
  width: 15px;
  height: 15px;
  background-size: 15px 15px; }

/* line 162, ../sass/_icons.scss */
.icon-list-key-product, .shopping-list .shopping-list-scroller ul li .action .key {
  background-image: url(../img/icon/list-key-product.png);
  width: 25px;
  height: 25px;
  background-size: 25px 25px; }

/* line 169, ../sass/_icons.scss */
.icon-list-key-delete {
  background-image: url(../img/icon/list-key-delete.png);
  width: 25px;
  height: 25px;
  background-size: 25px 25px; }

/* line 176, ../sass/_icons.scss */
.icon-list-key-category, .shopping-list .shopping-list-scroller ul li.category .action .key {
  background-image: url(../img/icon/list-key-category.png);
  width: 25px;
  height: 25px;
  background-size: 25px 25px; }

/* line 183, ../sass/_icons.scss */
.icon-list-fp {
  background-image: url(../img/icon/list-fp.png);
  width: 31px;
  height: 27px;
  background-size: 31px 27px; }

/* line 190, ../sass/_icons.scss */
.icon-list-details {
  background-image: url(../img/icon/list-details.png);
  width: 14px;
  height: 16px;
  background-size: 14px 16px; }

/* line 197, ../sass/_icons.scss */
.icon-list-checked {
  background-image: url(../img/icon/list-checked.png);
  width: 29px;
  height: 29px;
  background-size: 29px 29px; }

/* line 204, ../sass/_icons.scss */
.icon-list-check {
  background-image: url(../img/icon/list-check.png);
  width: 29px;
  height: 29px;
  background-size: 29px 29px; }

/* line 211, ../sass/_icons.scss */
.icon-list-check-white {
  background-image: url(../img/icon/list-check-white.png);
  width: 21px;
  height: 19px;
  background-size: 21px 19px; }

/* line 218, ../sass/_icons.scss */
.icon-list-arrow-right-green, .shopping-list .shopping-list-scroller ul li .action, .shopping-list .shopping-list-scroller ul li.category .action {
  background-image: url(../img/icon/list-arrow-right-green.png);
  width: 13px;
  height: 19px;
  background-size: 13px 19px; }

/* line 225, ../sass/_icons.scss */
.icon-icon-top-lightbulb {
  background-image: url(../img/icon/icon-top-lightbulb.png);
  width: 50px;
  height: 54px;
  background-size: 50px 54px; }

/* line 232, ../sass/_icons.scss */
.icon-header-x-white {
  background-image: url(../img/icon/header-x-white.png);
  width: 31px;
  height: 31px;
  background-size: 31px 31px; }

/* line 239, ../sass/_icons.scss */
.icon-header-x-green {
  background-image: url(../img/icon/header-x-green.png);
  width: 31px;
  height: 31px;
  background-size: 31px 31px; }

/* line 246, ../sass/_icons.scss */
.icon-header-x-gray {
  background-image: url(../img/icon/header-x-gray.png);
  width: 31px;
  height: 31px;
  background-size: 31px 31px; }

/* line 253, ../sass/_icons.scss */
.icon-header-leaf {
  background-image: url(../img/icon/header-leaf.png);
  width: 122px;
  height: 55px;
  background-size: 122px 55px; }

/* line 260, ../sass/_icons.scss */
.icon-header-back-white {
  background-image: url(../img/icon/header-back-white.png);
  width: 37px;
  height: 31px;
  background-size: 37px 31px; }

/* line 267, ../sass/_icons.scss */
.icon-header-back-green {
  background-image: url(../img/icon/header-back-green.png);
  width: 37px;
  height: 31px;
  background-size: 37px 31px; }

/* line 274, ../sass/_icons.scss */
.icon-header-back-food {
  background-image: url(../img/icon/header-back-food.png);
  width: 54px;
  height: 30px;
  background-size: 54px 30px; }

/* line 281, ../sass/_icons.scss */
.icon-header-arrow {
  background-image: url(../img/icon/header-arrow.png);
  width: 320px;
  height: 30px;
  background-size: 320px 30px; }

/* line 288, ../sass/_icons.scss */
.icon-global-user {
  background-image: url(../img/icon/global-user.png);
  width: 29px;
  height: 27px;
  background-size: 29px 27px; }

/* line 295, ../sass/_icons.scss */
.icon-global-user-active, .globalmenu li.active .icon-global-user {
  background-image: url(../img/icon/global-user-active.png);
  width: 29px;
  height: 27px;
  background-size: 29px 27px; }

/* line 302, ../sass/_icons.scss */
.icon-global-microphone {
  background-image: url(../img/icon/global-microphone.png);
  width: 35px;
  height: 35px;
  background-size: 35px 35px; }

/* line 309, ../sass/_icons.scss */
.icon-global-globe {
  background-image: url(../img/icon/global-globe.png);
  width: 29px;
  height: 27px;
  background-size: 29px 27px; }

/* line 316, ../sass/_icons.scss */
.icon-global-globe-active, .globalmenu li.active .icon-global-globe {
  background-image: url(../img/icon/global-globe-active.png);
  width: 29px;
  height: 27px;
  background-size: 29px 27px; }

/* line 323, ../sass/_icons.scss */
.icon-global-cart {
  background-image: url(../img/icon/global-cart.png);
  width: 29px;
  height: 27px;
  background-size: 29px 27px; }

/* line 330, ../sass/_icons.scss */
.icon-global-cart-active, .globalmenu li.active .icon-global-cart {
  background-image: url(../img/icon/global-cart-active.png);
  width: 29px;
  height: 27px;
  background-size: 29px 27px; }

/* line 337, ../sass/_icons.scss */
.icon-global-arrow-up {
  background-image: url(../img/icon/global-arrow-up.png);
  width: 35px;
  height: 35px;
  background-size: 35px 35px; }

/* line 344, ../sass/_icons.scss */
.icon-global-arrow-down {
  background-image: url(../img/icon/global-arrow-down.png);
  width: 35px;
  height: 35px;
  background-size: 35px 35px; }

/* line 351, ../sass/_icons.scss */
.icon-footer-key {
  background-image: url(../img/icon/footer-key.png);
  width: 53px;
  height: 54px;
  background-size: 53px 54px; }

/* line 358, ../sass/_icons.scss */
.icon-footer-fruit {
  background-image: url(../img/icon/footer-fruit.png);
  width: 62px;
  height: 54px;
  background-size: 62px 54px; }

/* line 365, ../sass/_icons.scss */
.icon-footer-fp {
  background-image: url(../img/icon/footer-fp.png);
  width: 80px;
  height: 54px;
  background-size: 80px 54px; }

/* line 372, ../sass/_icons.scss */
.icon-footer-diaper {
  background-image: url(../img/icon/footer-diaper.png);
  width: 62px;
  height: 54px;
  background-size: 62px 54px; }

/* line 379, ../sass/_icons.scss */
.icon-footer-arrow-down {
  background-image: url(../img/icon/footer-arrow-down.png);
  width: 16px;
  height: 8px;
  background-size: 16px 8px; }

/* line 386, ../sass/_icons.scss */
.icon-eikroneher {
  background-image: url(../img/icon/eikroneher.png);
  width: 270px;
  height: 33px;
  background-size: 270px 33px; }

/* line 393, ../sass/_icons.scss */
.icon-edit-trash {
  background-image: url(../img/icon/edit-trash.png);
  width: 18px;
  height: 23px;
  background-size: 18px 23px; }

/* line 400, ../sass/_icons.scss */
.icon-edit-share {
  background-image: url(../img/icon/edit-share.png);
  width: 26px;
  height: 23px;
  background-size: 26px 23px; }

/* line 407, ../sass/_icons.scss */
.icon-edit-edit {
  background-image: url(../img/icon/edit-edit.png);
  width: 21px;
  height: 23px;
  background-size: 21px 23px; }

/* line 414, ../sass/_icons.scss */
.icon-details-green {
  background-image: url(../img/icon/details-green.png);
  width: 16px;
  height: 11px;
  background-size: 16px 11px; }

/* line 421, ../sass/_icons.scss */
.icon-details-blue {
  background-image: url(../img/icon/details-blue.png);
  width: 16px;
  height: 11px;
  background-size: 16px 11px; }

/* line 428, ../sass/_icons.scss */
.icon-barcode-white {
  background-image: url(../img/icon/barcode-white.png);
  width: 27px;
  height: 19px;
  background-size: 27px 19px; }

/* line 435, ../sass/_icons.scss */
.icon-top-right {
  background-image: url(../img/icon/top-right.png);
  width: 18px;
  height: 55px;
  background-size: 18px 55px; }

/* line 442, ../sass/_icons.scss */
.icon-logo-dobbelt-tilbake {
  background-image: url(../img/icon/logo-dobbelt-tilbake.png);
  width: 276px;
  height: 138px;
  background-size: 276px 138px; }

/* line 449, ../sass/_icons.scss */
.icon-top-heart {
  background-image: url(../img/icon/top-heart.png);
  width: 70px;
  height: 45px;
  background-size: 70px 45px; }

/* line 456, ../sass/_icons.scss */
.icon-top-left {
  background-image: url(../img/icon/top-left.png);
  width: 18px;
  height: 55px;
  background-size: 18px 55px; }

/* line 463, ../sass/_icons.scss */
.icon-top-plus {
  background-image: url(../img/icon/top-plus.png);
  width: 74px;
  height: 45px;
  background-size: 74px 45px; }

/* line 470, ../sass/_icons.scss */
.icon-top-lightbulb {
  background-image: url(../img/icon/top-lightbulb.png);
  width: 74px;
  height: 45px;
  background-size: 74px 45px; }

/* line 477, ../sass/_icons.scss */
.icon-logo-neitilnokkelhullmoms, .module-key .body .content-logo, .module-key .body .content-logo .logo-text {
  background-image: url(../img/icon/logo-neitilnokkelhullmoms.png);
  width: 267px;
  height: 122px;
  background-size: 267px 122px; }

/* line 1, ../sass/_icon.scss */
i, .icon, .shopping-list .shopping-list-scroller ul li .action, .shopping-list .shopping-list-scroller ul li .action .key {
  display: inline-block;
  font-size: 0;
  background-repeat: no-repeat;
  background-position: center; }
  /* line 7, ../sass/_icon.scss */
  i.left, .icon.left, .shopping-list .shopping-list-scroller ul li .left.action, .shopping-list .shopping-list-scroller ul li .action .left.key {
    float: left; }
  /* line 11, ../sass/_icon.scss */
  i.right, .icon.right, .shopping-list .shopping-list-scroller ul li .right.action, .shopping-list .shopping-list-scroller ul li .action .right.key {
    float: right; }

/* line 1, ../sass/_layout.scss */
.layout {
  height: 480px;
  position: relative; }
  /* line 5, ../sass/_layout.scss */
  .layout .header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0; }
  /* line 12, ../sass/_layout.scss */
  .layout .body {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 107px;
    left: 0;
    right: 0;
    bottom: 67px; }
    /* line 21, ../sass/_layout.scss */
    .layout .body.body-smallheader {
      top: 47px; }
    /* line 25, ../sass/_layout.scss */
    .layout .body.body-headerbar {
      top: 102px; }
    /* line 29, ../sass/_layout.scss */
    .layout .body.body-headertabs {
      top: 54px; }
    /* line 33, ../sass/_layout.scss */
    .layout .body.body-headersectiontitle {
      top: 77px; }
    /* line 37, ../sass/_layout.scss */
    .layout .body.body-noheader {
      top: 0; }
    /* line 41, ../sass/_layout.scss */
    .layout .body.body-footer-buttonbar {
      bottom: 135px; }
    /* line 45, ../sass/_layout.scss */
    .layout .body.body-nofooter {
      bottom: 0; }
  /* line 50, ../sass/_layout.scss */
  .layout .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; }

/* line 3, ../sass/_header.scss */
.header {
  position: relative;
  z-index: 10; }
  /* line 8, ../sass/_header.scss */
  .header.header-white .header-title {
    background: #fff;
    border-bottom: none; }
    /* line 12, ../sass/_header.scss */
    .header.header-white .header-title h1 {
      color: #000;
      text-shadow: none; }
      /* line 16, ../sass/_header.scss */
      .header.header-white .header-title h1 b {
        font-weight: 900; }
  /* line 23, ../sass/_header.scss */
  .header .header-title {
    padding: 6px 6px 0 6px;
    display: block;
    width: 100%;
    text-align: center;
    height: 47px;
    position: relative;
    border-bottom: 1px solid #307029;
    background: -webkit-gradient(linear, 50% 0%, 50% 20, color-stop(0%, #309831), color-stop(100%, #439f21));
    background: -webkit-linear-gradient(top, #309831, #439f21 20px);
    background: -moz-linear-gradient(top, #309831, #439f21 20px);
    background: -o-linear-gradient(top, #309831, #439f21 20px);
    background: linear-gradient(top, #309831, #439f21 20px); }
    /* line 39, ../sass/_header.scss */
    .header .header-title h1 {
      top: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      position: absolute;
      z-index: 5;
      color: white;
      font-weight: bold;
      font-size: 20px;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
      line-height: 47px; }
  /* line 54, ../sass/_header.scss */
  .header .header-bar {
    height: 45px;
    position: relative;
    z-index: 3;
    top: -2px;
    margin: 0 0 30px 0;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #afd363), color-stop(2px, #afd363), color-stop(3px, #78b900), color-stop(100%, #c8e396));
    background: -webkit-linear-gradient(top, #afd363, #afd363 2px, #78b900 3px, #c8e396);
    background: -moz-linear-gradient(top, #afd363, #afd363 2px, #78b900 3px, #c8e396);
    background: -o-linear-gradient(top, #afd363, #afd363 2px, #78b900 3px, #c8e396);
    background: linear-gradient(top, #afd363, #afd363 2px, #78b900 3px, #c8e396); }
    /* line 70, ../sass/_header.scss */
    .header .header-bar .icons {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-box;
      display: box;
      -webkit-box-orient: horizontal;
      -moz-box-orient: horizontal;
      -ms-box-orient: horizontal;
      box-orient: horizontal;
      -webkit-box-align: stretch;
      -moz-box-align: stretch;
      -ms-box-align: stretch;
      box-align: stretch; }
      /* line 75, ../sass/_header.scss */
      .header .header-bar .icons i {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-box;
        display: box;
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -ms-box-flex: 1;
        box-flex: 1; }
        /* line 79, ../sass/_header.scss */
        .header .header-bar .icons i.icon-top-heart {
          background-position: left center; }
        /* line 83, ../sass/_header.scss */
        .header .header-bar .icons i.icon-top-plus {
          border-left: 1px solid #13747b;
          border-right: 1px solid #13747b; }
        /* line 88, ../sass/_header.scss */
        .header .header-bar .icons i.icon-top-lightbulb {
          background-position: right center; }
    /* line 94, ../sass/_header.scss */
    .header .header-bar:after {
      content: " ";
      width: 100%;
      height: 30px;
      background: url(../img/icon/header-arrow.png) no-repeat top left;
      background-size: 320px 30px;
      position: absolute;
      bottom: -30px;
      left: 0; }
  /* line 106, ../sass/_header.scss */
  .header .header-sectiontitle {
    color: #fff;
    text-align: center;
    background: #459f3a;
    border-top: 1px solid #43b61d;
    border-bottom: 1px solid #307029;
    padding: 5px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); }
  /* line 116, ../sass/_header.scss */
  .header .header-buttonbar {
    background: #fff;
    padding: 10px 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); }
  /* line 122, ../sass/_header.scss */
  .header .icon-header-leaf {
    position: absolute;
    display: block;
    top: 0;
    right: 45px;
    z-index: 4; }

/* line 1, ../sass/_footer.scss */
.sharebar {
  background: rgba(255, 255, 255, 0.7);
  text-align: center; }
  /* line 5, ../sass/_footer.scss */
  .sharebar .sharebar-handlerow {
    height: 7px;
    position: relative;
    border-top: 1px solid rgba(52, 145, 153, 0.7);
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #90e5ed), color-stop(4px, #90e5ed), color-stop(100%, #349199));
    background: -webkit-linear-gradient(top, #90e5ed, #90e5ed 4px, #349199);
    background: -moz-linear-gradient(top, #90e5ed, #90e5ed 4px, #349199);
    background: -o-linear-gradient(top, #90e5ed, #90e5ed 4px, #349199);
    background: linear-gradient(top, #90e5ed, #90e5ed 4px, #349199); }
    /* line 18, ../sass/_footer.scss */
    .sharebar .sharebar-handlerow .sharebar-handlebar {
      border: 1px solid rgba(52, 145, 153, 0.7);
      border-bottom: none;
      border-radius: 5px 5px 0 0;
      background: #90e5ed url(../img/icon/details-blue.png) no-repeat center bottom;
      background-size: 17px 12px;
      width: 42px;
      height: 15px;
      position: absolute;
      top: -15px;
      left: 50%;
      margin-left: -21px;
      cursor: pointer; }
  /* line 34, ../sass/_footer.scss */
  .sharebar .sharebar-content {
    padding-top: 10px;
    overflow: hidden; }
    /* line 38, ../sass/_footer.scss */
    .sharebar .sharebar-content.closed {
      padding-top: 0;
      height: 0; }

/* line 46, ../sass/_footer.scss */
.footer .footer-buttonbar {
  border-top: 1px solid #dbdbdb;
  background: -webkit-gradient(linear, 50% 0%, 50% 10, color-stop(0%, #ffffff), color-stop(100%, #d9d9d9), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, #ffffff, #d9d9d9 10px, #ffffff 10px);
  background: -moz-linear-gradient(top, #ffffff, #d9d9d9 10px, #ffffff 10px);
  background: -o-linear-gradient(top, #ffffff, #d9d9d9 10px, #ffffff 10px);
  background: linear-gradient(top, #ffffff, #d9d9d9 10px, #ffffff 10px);
  text-align: center;
  padding: 20px 0 10px; }
/* line 59, ../sass/_footer.scss */
.footer .footer-buttons {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #afd363), color-stop(2px, #afd363), color-stop(2px, #76b800), color-stop(100%, #3b9b36));
  background: -webkit-linear-gradient(top, #afd363, #afd363 2px, #76b800 2px, #3b9b36);
  background: -moz-linear-gradient(top, #afd363, #afd363 2px, #76b800 2px, #3b9b36);
  background: -o-linear-gradient(top, #afd363, #afd363 2px, #76b800 2px, #3b9b36);
  background: linear-gradient(top, #afd363, #afd363 2px, #76b800 2px, #3b9b36); }
  /* line 72, ../sass/_footer.scss */
  .footer .footer-buttons i {
    cursor: pointer;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;
    height: 67px; }
    /* line 78, ../sass/_footer.scss */
    .footer .footer-buttons i.active {
      background-color: #008633; }
      /* line 81, ../sass/_footer.scss */
      .footer .footer-buttons i.active span {
        display: block;
        width: 100%;
        height: 100%;
        background: transparent url(../img/icon/footer-arrow-down.png) no-repeat center top;
        background-size: 16px 8px; }

/* line 1, ../sass/_globalmenu.scss */
.globalmenu {
  border-top: #79bc00;
  background: #008633;
  list-style: none;
  padding: 12px 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-top: 2px solid #79bc00; }
  /* line 9, ../sass/_globalmenu.scss */
  .globalmenu li {
    border-top: 1px solid #79bc00;
    color: #fff;
    padding: 6px 4px; }
    /* line 14, ../sass/_globalmenu.scss */
    .globalmenu li:last-child {
      border-bottom: 1px solid #79bc00; }
    /* line 18, ../sass/_globalmenu.scss */
    .globalmenu li i {
      margin-right: 10px;
      vertical-align: middle; }
    /* line 23, ../sass/_globalmenu.scss */
    .globalmenu li span {
      display: inline-block;
      vertical-align: middle;
      margin-top: 4px; }
    /* line 29, ../sass/_globalmenu.scss */
    .globalmenu li.active {
      color: #9cce43; }

/* This file contains styles which should be shared across all modules */
/* line 4, ../sass/_app.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 10, ../sass/_app.scss */
html {
  height: 100%; }

/* line 14, ../sass/_app.scss */
body {
  font-family: Antenna;
  font-size: 15px;
  height: 100%;
  width: 100%;
  background: #999;
  /* Touch spesific styles - Can't select anything by default */
  -moz-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  /* Removes the default gray box for taps on webkit touch devices */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

/* line 28, ../sass/_app.scss */
#wrapper {
  height: 100%;
  width: 100%;
  position: relative; }
  /* line 33, ../sass/_app.scss */
  #wrapper #appViewport {
    width: 100%;
    height: 100%;
    background: url("../images/reveal-bg.png");
    position: relative;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); }
    /* line 41, ../sass/_app.scss */
    #wrapper #appViewport #moduleHolder {
      position: absolute;
      top: 45px;
      bottom: 67px;
      left: 0;
      right: 0;
      z-index: 1;
      background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b2faff), color-stop(100%, #00b7bb));
      background: -webkit-linear-gradient(top, #b2faff, #00b7bb);
      background: -moz-linear-gradient(top, #b2faff, #00b7bb);
      background: -o-linear-gradient(top, #b2faff, #00b7bb);
      background: linear-gradient(top, #b2faff, #00b7bb); }

/* line 1, ../sass/_buttons.scss */
.btn-row {
  font-size: 0;
  padding: 0 0 10px 0; }

/* line 6, ../sass/_buttons.scss */
.btn-group {
  text-align: center;
  font-size: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -ms-box-align: stretch;
  box-align: stretch; }
  /* line 13, ../sass/_buttons.scss */
  .btn-group .btn {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-box-pack: center;
    box-pack: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    width: 0;
    margin-right: 2px; }
    /* line 21, ../sass/_buttons.scss */
    .btn-group .btn:first-child {
      -webkit-border-radius: 7px 0 0 7px;
      -moz-border-radius: 7px 0 0 7px;
      -ms-border-radius: 7px 0 0 7px;
      -o-border-radius: 7px 0 0 7px;
      border-radius: 7px 0 0 7px; }
    /* line 25, ../sass/_buttons.scss */
    .btn-group .btn:last-child {
      -webkit-border-radius: 0 7px 7px 0;
      -moz-border-radius: 0 7px 7px 0;
      -ms-border-radius: 0 7px 7px 0;
      -o-border-radius: 0 7px 7px 0;
      border-radius: 0 7px 7px 0;
      margin-right: 0; }

/* line 33, ../sass/_buttons.scss */
.btn-sidebar {
  background: #79bc00;
  border-radius: 5px;
  color: #0f6d33;
  font: 15px AntennaCond;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  margin: 0 4px 0 0; }
  /* line 43, ../sass/_buttons.scss */
  .btn-sidebar div {
    padding: 6px 8px 4px 8px; }
  /* line 47, ../sass/_buttons.scss */
  .btn-sidebar.active {
    background: #fff; }
  /* line 51, ../sass/_buttons.scss */
  .btn-sidebar i {
    display: block;
    margin: 4px; }

/* line 57, ../sass/_buttons.scss */
.btn {
  position: relative;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
  padding: 10px 20px;
  display: inline-block;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #018633), color-stop(40%, #3ca11a), color-stop(100%, #018633));
  background: -webkit-linear-gradient(top, #018633, #3ca11a 40%, #018633);
  background: -moz-linear-gradient(top, #018633, #3ca11a 40%, #018633);
  background: -o-linear-gradient(top, #018633, #3ca11a 40%, #018633);
  background: linear-gradient(top, #018633, #3ca11a 40%, #018633);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px; }
  /* line 79, ../sass/_buttons.scss */
  .btn.btn-icon i {
    position: relative;
    left: -7px; }
  /* line 85, ../sass/_buttons.scss */
  .btn span {
    padding: 3px 0 0 0;
    display: inline-block;
    vertical-align: middle; }
  /* line 91, ../sass/_buttons.scss */
  .btn i {
    vertical-align: middle; }
  /* line 95, ../sass/_buttons.scss */
  .btn.active {
    background: #79bc00;
    box-shadow: inset 0 0 30px #459f3a; }
  /* line 100, ../sass/_buttons.scss */
  .btn.btn-left {
    display: block;
    float: left; }
  /* line 105, ../sass/_buttons.scss */
  .btn.btn-right {
    display: block;
    float: right; }
  /* line 110, ../sass/_buttons.scss */
  .btn.btn-highlight {
    margin: 8px;
    box-shadow: 0 0 0 2px white, 0 0 0 6px #c1c1c1; }
  /* line 117, ../sass/_buttons.scss */
  .btn.btn-global {
    position: relative;
    z-index: 5;
    width: 35px;
    height: 35px;
    padding: 0;
    background: #008633;
    box-shadow: inset 1px 1px 2px #00461b, inset -1px -1px 2px #61c04c; }
  /* line 129, ../sass/_buttons.scss */
  .btn.btn-footer {
    background: #13747b;
    padding: 5px 10px;
    margin: 0 10px 0 0; }
    /* line 134, ../sass/_buttons.scss */
    .btn.btn-footer i {
      margin: 0 10px 0 0; }
    /* line 138, ../sass/_buttons.scss */
    .btn.btn-footer.btn-footer-active {
      background: #79bc00;
      box-shadow: inset 0 0 15px #48a137; }

/* line 2, ../sass/_list.scss */
.list li {
  border-bottom: 1px solid #dbdbdb; }
  /* line 5, ../sass/_list.scss */
  .list li:first-child {
    border-top: 1px solid #dbdbdb; }
  /* line 12, ../sass/_list.scss */
  .list li ul li .item .content {
    padding-left: 0; }
  /* line 19, ../sass/_list.scss */
  .list li.list-section {
    background: #79bc00;
    color: #fff;
    border-color: transparent; }
    /* line 24, ../sass/_list.scss */
    .list li.list-section i {
      width: 37px; }
    /* line 28, ../sass/_list.scss */
    .list li.list-section.list-section-checked {
      background: #999; }
      /* line 31, ../sass/_list.scss */
      .list li.list-section.list-section-checked b {
        text-decoration: line-through; }
  /* line 37, ../sass/_list.scss */
  .list li .item {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -ms-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-box-align: center;
    box-align: center;
    overflow: hidden;
    list-style: none;
    min-height: 45px; }
    /* line 45, ../sass/_list.scss */
    .list li .item .content {
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      -ms-box-flex: 1;
      box-flex: 1;
      padding-left: 10px; }
      /* line 49, ../sass/_list.scss */
      .list li .item .content b {
        display: block;
        font-weight: bold;
        font-family: Duper;
        font-size: 22px; }
      /* line 56, ../sass/_list.scss */
      .list li .item .content small {
        display: block;
        font-size: 10px; }
    /* line 62, ../sass/_list.scss */
    .list li .item i + .content {
      padding-left: 0; }
    /* line 66, ../sass/_list.scss */
    .list li .item .icon-list-arrow-right-green, .list .shopping-list .shopping-list-scroller ul li .item .action, .shopping-list .shopping-list-scroller ul .list li .item .action, .list .shopping-list .shopping-list-scroller ul li.category .item .action, .shopping-list .shopping-list-scroller ul .list li.category .item .action {
      width: 30px; }
    /* line 70, ../sass/_list.scss */
    .list li .item .icon-sidebar-plus-green {
      width: 30px; }
    /* line 75, ../sass/_list.scss */
    .list li .item .icon-sidebar-down,
    .list li .item .icon-sidebar-up {
      width: 28px;
      height: 45px;
      cursor: pointer;
      display: block; }
    /* line 82, ../sass/_list.scss */
    .list li .item .icon-round-x-red {
      display: block;
      width: 48px;
      height: 45px;
      cursor: pointer; }
/* line 91, ../sass/_list.scss */
.list.list-recipe {
  background: #fff; }
  /* line 93, ../sass/_list.scss */
  .list.list-recipe li {
    border-bottom: 2px solid #459f3a; }
    /* line 96, ../sass/_list.scss */
    .list.list-recipe li:first-child {
      border-top: 2px solid #459f3a; }
    /* line 102, ../sass/_list.scss */
    .list.list-recipe li .item .content b {
      color: #0f6d33; }
    /* line 106, ../sass/_list.scss */
    .list.list-recipe li .item .content small {
      color: #666; }
/* line 115, ../sass/_list.scss */
.list.list-sidebar li {
  color: #fff;
  background: #008633;
  border-top: 1px solid #459f3a;
  border-bottom: 1px solid #04200f; }
  /* line 122, ../sass/_list.scss */
  .list.list-sidebar li .item .content {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
    /* line 124, ../sass/_list.scss */
    .list.list-sidebar li .item .content b {
      color: #fff; }
    /* line 128, ../sass/_list.scss */
    .list.list-sidebar li .item .content small {
      color: #fff; }
  /* line 135, ../sass/_list.scss */
  .list.list-sidebar li ul li {
    background: #459f3a;
    border-top-color: #69c15a;
    padding-left: 28px; }
    /* line 140, ../sass/_list.scss */
    .list.list-sidebar li ul li:last-child {
      border-bottom: none; }
/* line 148, ../sass/_list.scss */
.list.list-sidebar.list-sidebar-light li {
  border-top-color: #69c15a;
  background: #459f3a; }

/* line 157, ../sass/_list.scss */
.shopping-list {
  -webkit-user-select: none;
  height: 100%;
  background: transparent url(../img/bg.jpg) repeat-y;
  width: 320px;
  float: left; }
  /* line 164, ../sass/_list.scss */
  .shopping-list .shopping-list-scroller {
    z-index: 1;
    background: url(../img/bg3.png) repeat-y, url(../img/bg2.png) repeat-y, url(../img/bg1.png) repeat-y;
    height: 100%;
    text-align: left;
    padding: 20px;
    position: relative;
    -webkit-transform: translatez(0);
    transform: translatez(0); }
    /* line 178, ../sass/_list.scss */
    .shopping-list .shopping-list-scroller ul li {
      display: block;
      list-style: none;
      margin: 0 0 2px 0; }
      /* line 183, ../sass/_list.scss */
      .shopping-list .shopping-list-scroller ul li .action {
        z-index: 2;
        cursor: pointer;
        background-color: #d7ebb2;
        background-position: 23px center;
        position: relative;
        float: right;
        width: 44px;
        height: 42px;
        margin: 0 0 0 2px;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
        border-bottom: 1px solid #62b5bc; }
        /* line 198, ../sass/_list.scss */
        .shopping-list .shopping-list-scroller ul li .action .key {
          width: 25px;
          height: 25px;
          position: absolute;
          left: -13px;
          top: 7px; }
      /* line 210, ../sass/_list.scss */
      .shopping-list .shopping-list-scroller ul li.category .action {
        background-color: #fff;
        width: 44px;
        height: 42px; }
      /* line 223, ../sass/_list.scss */
      .shopping-list .shopping-list-scroller ul li.delete .action {
        background-color: #da001f;
        background-image: url(../img/icon-list-x.png); }
        /* line 227, ../sass/_list.scss */
        .shopping-list .shopping-list-scroller ul li.delete .action .key {
          background-image: url(../img/icon-list-key-delete.png); }
      /* line 232, ../sass/_list.scss */
      .shopping-list .shopping-list-scroller ul li.delete .content {
        color: #999; }
        /* line 235, ../sass/_list.scss */
        .shopping-list .shopping-list-scroller ul li.delete .content b {
          text-decoration: line-through; }
      /* line 242, ../sass/_list.scss */
      .shopping-list .shopping-list-scroller ul li .content {
        cursor: pointer;
        z-index: 1;
        overflow: hidden;
        position: relative;
        height: 42px;
        padding: 6px 10px 6px 25px;
        background: white;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
        border-bottom: 1px solid #62b5bc; }
        /* line 253, ../sass/_list.scss */
        .shopping-list .shopping-list-scroller ul li .content .amount {
          position: absolute;
          top: 6px;
          left: 0;
          width: 25px;
          height: 100%;
          text-align: center; }
        /* line 262, ../sass/_list.scss */
        .shopping-list .shopping-list-scroller ul li .content b {
          display: block;
          font-weight: bold; }
        /* line 267, ../sass/_list.scss */
        .shopping-list .shopping-list-scroller ul li .content small {
          display: block;
          font-size: 10px; }
    /* line 276, ../sass/_list.scss */
    .shopping-list .shopping-list-scroller.touchScroll {
      overflow: auto;
      -webkit-overflow-scrolling: touch; }

/* line 1, ../sass/_tabs.scss */
.tabs {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -ms-box-align: stretch;
  box-align: stretch;
  background: #333333;
  border-bottom: 4px solid #48a137;
  overflow: hidden; }
  /* line 9, ../sass/_tabs.scss */
  .tabs li {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;
    list-style: none;
    margin: 0 -1px 0 0;
    padding: 15px;
    border-right: 1px solid #666666;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer; }
    /* line 21, ../sass/_tabs.scss */
    .tabs li.active {
      border-right: 1px solid transparent;
      background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #79bc00), color-stop(100%, #48a137));
      background: -webkit-linear-gradient(top, #79bc00, #48a137);
      background: -moz-linear-gradient(top, #79bc00, #48a137);
      background: -o-linear-gradient(top, #79bc00, #48a137);
      background: linear-gradient(top, #79bc00, #48a137); }

/* line 2, ../sass/_modules.scss */
.module-fruit .logo {
  text-align: center;
  padding: 10px 0; }

/* line 9, ../sass/_modules.scss */
.module-diaper .logo {
  padding: 10px 10px 25px 10px; }
  /* line 12, ../sass/_modules.scss */
  .module-diaper .logo i {
    float: left; }
  /* line 16, ../sass/_modules.scss */
  .module-diaper .logo .content-text {
    overflow: hidden;
    text-align: right; }
    /* line 20, ../sass/_modules.scss */
    .module-diaper .logo .content-text .content-intro {
      font-size: 16px;
      padding: 12px 0 20px; }
    /* line 25, ../sass/_modules.scss */
    .module-diaper .logo .content-text .content-caption {
      font-family: AntennaCond;
      color: #999;
      font-size: 15px;
      position: relative; }

/* line 36, ../sass/_modules.scss */
.module-fp .body {
  text-align: center; }
/* line 40, ../sass/_modules.scss */
.module-fp .logo {
  text-align: center;
  position: relative;
  background: #bbb;
  margin: 0 auto; }
  /* line 47, ../sass/_modules.scss */
  .module-fp .logo .logo-text {
    position: absolute;
    top: 0;
    left: 0; }
  /* line 54, ../sass/_modules.scss */
  .module-fp .logo .logo-bg {
    background: #f00;
    width: 33%; }
/* line 61, ../sass/_modules.scss */
.module-fp .content-intro {
  font-size: 18px;
  padding: 15px 0 25px; }
/* line 67, ../sass/_modules.scss */
.module-fp .content-button .btn {
  width: 260px;
  font-size: 18px; }
/* line 73, ../sass/_modules.scss */
.module-fp .content-caption {
  font-family: AntennaCond;
  color: #999;
  font-size: 15px;
  position: relative;
  padding: 12px 30px 20px 30px; }
  /* line 80, ../sass/_modules.scss */
  .module-fp .content-caption i {
    position: absolute;
    top: 14px;
    right: 0; }

/* line 89, ../sass/_modules.scss */
.module-key .body {
  text-align: center; }
  /* line 92, ../sass/_modules.scss */
  .module-key .body .content-closebutton {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 3; }
  /* line 99, ../sass/_modules.scss */
  .module-key .body .content-logo {
    text-align: center;
    position: relative;
    background: #000;
    margin: 30px auto 0 auto; }
    /* line 106, ../sass/_modules.scss */
    .module-key .body .content-logo .logo-text {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2; }
    /* line 114, ../sass/_modules.scss */
    .module-key .body .content-logo .content-logocanvas {
      position: absolute;
      width: 110px;
      height: 110px;
      top: 5px;
      left: 6px;
      z-index: 1; }
  /* line 124, ../sass/_modules.scss */
  .module-key .body .content-intro {
    font-size: 18px;
    padding: 10px 0 10px; }
    /* line 128, ../sass/_modules.scss */
    .module-key .body .content-intro b {
      font-size: 36px; }
  /* line 134, ../sass/_modules.scss */
  .module-key .body .content-button .btn {
    width: 260px;
    font-size: 18px; }
  /* line 140, ../sass/_modules.scss */
  .module-key .body .content-caption {
    font-family: AntennaCond;
    color: #999;
    font-size: 15px;
    position: relative;
    padding: 12px 30px 20px 30px; }

/* line 1, ../sass/_sidebar.scss */
.sidebar {
  background: #008633; }

/* line 5, ../sass/_sidebar.scss */
.sidebar-header {
  background: #0f6d33;
  padding: 5px 10px;
  color: #9cce43;
  font: 15px AntennaCond; }
  /* line 11, ../sass/_sidebar.scss */
  .sidebar-header i {
    vertical-align: middle; }
    /* line 14, ../sass/_sidebar.scss */
    .sidebar-header i + span {
      margin-left: 4px; }
  /* line 19, ../sass/_sidebar.scss */
  .sidebar-header span {
    display: inline-block;
    vertical-align: center;
    padding: 0 10px 0 0;
    top: 1px;
    position: relative; }
    /* line 26, ../sass/_sidebar.scss */
    .sidebar-header span.active {
      color: #fff; }

/* line 32, ../sass/_sidebar.scss */
.sidebar-image-add {
  text-align: center;
  position: relative;
  background: #fff; }
  /* line 37, ../sass/_sidebar.scss */
  .sidebar-image-add .sidebar-image-caption {
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background: rgba(255, 255, 255, 0.5); }
    /* line 46, ../sass/_sidebar.scss */
    .sidebar-image-add .sidebar-image-caption h2 {
      font-family: Duper;
      font-size: 24px;
      font-weight: bold;
      color: #0f6d33; }
    /* line 53, ../sass/_sidebar.scss */
    .sidebar-image-add .sidebar-image-caption small {
      color: #666; }
  /* line 58, ../sass/_sidebar.scss */
  .sidebar-image-add i {
    position: absolute;
    top: 10px;
    right: 0; }
  /* line 64, ../sass/_sidebar.scss */
  .sidebar-image-add img {
    display: block; }

/* line 69, ../sass/_sidebar.scss */
.sidebar-footer {
  text-align: center;
  padding: 5px 10px;
  background: #459f3a;
  color: #fff;
  font: 15px AntennaCond; }
  /* line 76, ../sass/_sidebar.scss */
  .sidebar-footer i {
    vertical-align: middle; }
  /* line 80, ../sass/_sidebar.scss */
  .sidebar-footer span {
    display: inline-block;
    vertical-align: center;
    padding: 0 10px 0 0;
    top: 1px;
    position: relative; }

/* line 89, ../sass/_sidebar.scss */
.sidebar-content {
  border-top: 1px solid #398d1f;
  padding: 10px 10px 10px 28px;
  color: #9cce43;
  font: 15px AntennaCond; }

/* line 96, ../sass/_sidebar.scss */
.sidebar-formrow {
  padding: 0 0 10px 0; }
  /* line 99, ../sass/_sidebar.scss */
  .sidebar-formrow input.text {
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    border: none;
    padding: 5px;
    margin: 0 5px 0 0;
    position: relative;
    top: 1px; }

/* line 1, ../sass/_recipe.scss */
.recipe {
  background: #fff;
  padding: 10px; }

/* line 7, ../sass/_recipe.scss */
.recipe-step {
  border: 1px solid #9acb42;
  padding: 10px 10px 30px 10px;
  margin: 0 0 10px 0;
  box-shadow: inset 0 0 10px #b4d972, 4px 4px 10px rgba(0, 0, 0, 0.3);
  font-family: Duper;
  position: relative; }

/* line 18, ../sass/_recipe.scss */
.recipe-items {
  font-size: 14px;
  padding: 10px 40px 0 0; }

/* line 23, ../sass/_recipe.scss */
.recipe-stepno {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 15px;
  color: #888; }
  /* line 30, ../sass/_recipe.scss */
  .recipe-stepno b {
    font-weight: normal;
    font-size: 24px; }

/* line 1, ../sass/_styleguide.scss */
.sg {
  background: #000;
  padding: 5px 5px 0 5px; }
  /* line 5, ../sass/_styleguide.scss */
  .sg h1 {
    padding: 0 0 10px 0; }
  /* line 9, ../sass/_styleguide.scss */
  .sg .sg-page {
    background: #fff;
    padding: 0;
    margin: 0 5px 5px 0;
    min-width: 320px;
    float: left;
    overflow: hidden;
    min-height: 480px; }
    /* line 18, ../sass/_styleguide.scss */
    .sg .sg-page > h2 {
      padding: 10px 10px 3px 10px;
      font-size: 16px; }
    /* line 23, ../sass/_styleguide.scss */
    .sg .sg-page.full-height {
      height: 100%; }
    /* line 27, ../sass/_styleguide.scss */
    .sg .sg-page.transparent {
      background: none; }
  /* line 32, ../sass/_styleguide.scss */
  .sg .sg-content {
    padding: 10px; }
  /* line 36, ../sass/_styleguide.scss */
  .sg .sg-col {
    float: left;
    margin: 0 20px 0 0; }
    /* line 40, ../sass/_styleguide.scss */
    .sg .sg-col.full-height {
      height: 100%; }
  /* line 45, ../sass/_styleguide.scss */
  .sg .sg-form {
    background: #f6f6f6;
    padding: 20px;
    float: left;
    width: 410px; }
    /* line 51, ../sass/_styleguide.scss */
    .sg .sg-form label {
      text-align: left;
      clear: left;
      width: 220px;
      float: left;
      padding: 3px 10px 3px; }
      /* line 58, ../sass/_styleguide.scss */
      .sg .sg-form label span {
        float: right; }
    /* line 63, ../sass/_styleguide.scss */
    .sg .sg-form input {
      float: left; }
    /* line 67, ../sass/_styleguide.scss */
    .sg .sg-form .uploader {
      float: left;
      overflow: hidden; }
    /* line 72, ../sass/_styleguide.scss */
    .sg .sg-form .filedrop {
      background: #ccc;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      width: 35px;
      height: 35px;
      line-height: 35px;
      float: left;
      margin: 0 0 5px 5px; }
      /* line 83, ../sass/_styleguide.scss */
      .sg .sg-form .filedrop.over {
        background: #cfc; }
      /* line 87, ../sass/_styleguide.scss */
      .sg .sg-form .filedrop:first-child {
        margin-left: 0; }
    /* line 92, ../sass/_styleguide.scss */
    .sg .sg-form .fileprogress {
      clear: both;
      width: 0;
      height: 5px;
      margin: 5px 0 0 0;
      background: #00c; }
