

<div>
 
  <div class="grid">
  	<img class ="grid__item one-whole lead-img" src="{{art_images}}">
  </div>


  <div class="wrapper-outer">
    <div class="wrapper">
    	<div class="grid">
    		<div class="grid__item  one-whole  desk-one-whole">
    			
          <p class="author"> {{article_date | date:'medium'}}<br></p>
    			{{artID}}
          some{{content_rwo}}
          <h1 ng-bind-html-unsafe="art_title"></h1>
          
          <p class="intro" ng-bind-html-unsafe="ingress"></p>

    			<p class="author"><em>by</em> {{byline}}</p>

          <p ng-bind-html-unsafe="article_content"></p>

    		</div>
    	</div>

    </div>
  </div>

</div>
