<!-- 
          <div main-directive>
            <p class="hello">Hello there</p>
          </div>
 -->


<div>
 
  <div class="grid">
  	<img class ="grid__item one-whole lead-img" src="{{Article.images[0].url}}">
  </div>

  <div class="wrapper-outer">
    <div class="wrapper">
    	<div class="grid">
    		<div class="grid__item  one-whole  desk-one-whole">
    			
          <p class="author">{{Article.date}} {{Article.date | date:'dd MMM yyyy'}}<br></p>
  
          <h1 ng-bind-html-unsafe="Article.title"></h1>
          
          <p class="intro" ng-bind-html-unsafe="Article.ingress"></p>

    			<p class="author"><em>av</em> {{Article.byline}}</p>

          <p ng-bind-html-unsafe="Article.content"></p>



    		</div>
    	</div>
    </div>
  </div>

</div>



<!--  
TODO
- date - få den riktig
- flere bilder??


-->