<header class="clearfix">
  <a class="header-logo" href="/"></a>
  <a class="header-options-toggle" href="#"><i class="icon-expand-alt"></i></a>
</header>
<div class="header-options">options will come here</div>



<div class="grid">
	<img class ="grid__item  one-whole lead-img" src="http://www.abcnyheter.no/files/imagecache/galleria_slide_wide/sxe5eb60.jpg">
</div>

<div class="wrapper">
	<div class="grid">
		<div class="grid__item  one-whole  desk-one-whole">

				<p class="author">DES 2011</p>

				<h1>Brannmann mistet moren i brann</h1>

				<p class="intro">
					{{article}}
				Varabrannsjef Willy Wikberg har kjempet mot branner i 30 &#229;r. Men da hans egen mor brant inne f&#248;lte han seg hjelpel&#248;s. - Jeg tenker p&#229; det hver dag, sier han.<br style=""></p>

				<p class="author"><em>by</em>

				 M&#197;LFRID BORDVIK</p>

				 	<p>Utenfor Ringsaker brannstasjon i Brumunddal har den f&#248;rste sn&#248;en akkurat lagt seg. Wikberg og kollegene er i gang med den &#229;rlige Aksjon boligbrann, hvor de drar hjem til folk og kontrollerer r&#248;ykvarslere.</p>


				 	<p>&#171;Det er ikke mulig&#187;, var Wikbergs f&#248;rste reaksjon.</p>


				<h2>Smelta julestjerne og sotete gaver</h2>

				<p>Et par dager etter brannen reiste han til Bod&#248; for selv &#229; se den forbrente leiligheten. Wikberg er kurset i brannetterforskning av Kripos, og er vant til &#229; ta seg inn i nedbrente hjem for &#229; lete etter brann&#229;rsaken. Denne gangen ble det helt spesielt.<br></p>

				<blockquote>- Jeg gikk rundt i den sotete leiligheten med pyntet juletre og svidde julegaver som jeg selv hadde sendt oppover. P&#229; bokseksjonen fant jeg julekortet jeg hadde sendt, helt nedsotet.&nbsp;</blockquote>

				<p>ngen vet sikkert hva som for&#229;rsaket brannen, men det er ikke tvil om at det var &#229;pen ild i leiligheten. Moren bodde alene og ble funnet d&#248;d utenfor soveromsd&#248;ren.</p>

				<!-- <iframe style="height: 580px;" class="one-whole" src="http://api.abcnyheter.no/fires/map.html?id=9681206"> Dude, your browser can't display an iframe. </iframe> -->
		</div>
	</div>

</div>




    <div ng-controller="FetchCtrl">
      <select ng-model="method">
        <option>GET</option>
        <option>JSONP</option>
      </select>
      <input type="text" ng-model="url" size="80"/>
      <button ng-click="fetch()">fetch</button><br>
      <button ng-click="updateModel('GET', 'http-hello.html')">Sample GET</button>
      <button ng-click="updateModel('JSONP', 'http://dev-branch1.api.abcnyheter.no/v1/article/index.php?service=ABCNYHETER&scope=MYDESK_MODERATION_QUEUE&id=172142')">Sample JSONP</button>
      <button ng-click="updateModel('JSONP', 'http://angularjs.org/doesntexist&callback=JSON_CALLBACK')">Invalid JSONP</button>
      <pre>http status code: {{status}}</pre>
      <pre>http response data: {{data}}</pre>
    </div>






<div class="grid">
    
    <div class="grid__item  one-whole">
        <p class=demo-block>Foo</p>
    </div><!--
    
 --><div class="grid__item  one-third  lap-one-third  palm-one-whole">
        <p class=demo-block>Foo</p>
    </div><!--
    
 --><div class="grid__item  one-third  lap-two-thirds  palm-one-whole">
        <p class=demo-block>Foo</p>
    </div><!--
    
 --><div class="grid__item  one-third  lap-one-half  palm-one-whole">
        <p class=demo-block>Foo</p>
    </div><!--
    
 --><div class="grid__item  one-quarter  lap-one-half  palm-one-whole">
        <p class=demo-block>Foo</p>
    </div><!--
    
 --><div class="grid__item  one-quarter  lap-one-half  palm-one-whole">
        <p class=demo-block>Foo</p>
    </div><!--
    
 --><div class="grid__item  one-half  lap-one-half  palm-one-whole">
        <p class=demo-block>Foo</p>
    </div><!--
    
 --><div class="grid__item  one-whole">
        <p class=demo-block>Foo</p>
    </div><!--
    
 --><div class="grid__item  one-third  lap-one-half  palm-one-whole">
        <p class=demo-block>Foo</p>
    </div><!--
    
 --><div class="grid__item  one-third  lap-one-half  palm-one-whole">
        <p class=demo-block>Foo</p>
    </div><!--
    
 --><div class="grid__item  one-third  lap-one-half  palm-one-whole">
        <p class=demo-block>Foo</p>
    </div><!--
    
 --><div class="grid__item  one-whole  lap-one-half">
        <p class=demo-block>Foo</p>
    </div>
    
</div>

<footer>
    <a class="browse-previous" href="#">
        <i class="icon-chevron-left"></i> Previous
    </a>
    <a class="browse-next" href="#">
        Next <i class="icon-chevron-right"></i>
    </a>
</footer>


<!-- 
<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>

<p class=text-cols--3>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>

<p class=text-cols--2>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p> -->

<!-- <div class="hero-unit">
  <h1>'Allo, 'Allo!</h1>
  <p>You now have</p>
  <ul>
      <li ng-repeat="thing in awesomeThings">{{thing}}</li>
  </ul>
  <p>installed.</p>
  <h3>Enjoy coding! - Yeoman</h3>
</div> -->







