



<div class="grid">
    

<!-- 	<div class="grid__item  one-third  lap-one-half  palm-one-whole">
    </div>
 -->
    <div class="article-selector">	
    	<div class="grid__item  one-whole  desk-one-whole">
    	

    		<p class="caption">{{artID}}</p>
	      	<img src="../images/logo.png">


			<input type="text" ng-model="artID" size="43"/>
			 <button ng-click="fetch('article')">Work!</button><br>

			

    	</div>
    </div>	


</div>



<!-- 
    <div ng-controller="FetchCtrl">
      <select ng-model="method">
        <option>GET</option>
        <option>JSONP</option>
      </select>
      <input type="text" ng-model="url" size="80"/>
      <button ng-click="fetch()">fetch</button><br>
      <button ng-click="updateModel('GET', 'http-hello.html')">Sample GET</button>
      <button ng-click="updateModel('JSONP', 'http://dev-branch1.api.abcnyheter.no/v1/article/index.php?service=ABCNYHETER&scope=MYDESK_MODERATION_QUEUE&id=172142')">Sample JSONP</button>
      <button ng-click="updateModel('JSONP', 'http://angularjs.org/doesntexist&callback=JSON_CALLBACK')">Invalid JSONP</button>
      <pre>http status code: {{status}}</pre>
      <pre>http response data: {{data}}</pre>
    </div>
 -->